[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
